.center-container{
    text-align: center;
    color: white;
}

.center-container2{
    margin-top: 200px;
    text-align: center;
    color: white;
}

.photo-size{
    width: 406px;
    height: 300px;
    text-align: center;
}

.container{
    display: flex;
    margin: 50px;
    justify-content: center;
    column-gap: 20px;
}

.left-box{
    width: 40%;
    height: 180px;
    color: white;
    background-color: black;
    text-align: center;
}

.right-box{
    width: 40%;
    height: 180px;
    color: white;
    background-color: black;
}

.project-photo{
    width: 300px;
    height: 180px;
    border-style: solid;
    border-width: 2px;
    border-color: orange;
}

.project-photo2{
    width: 300px;
    height: 180px;
    border-style: solid;
    border-width: 2px;
    border-color: red;
}

.project-photo3{
    width: 300px;
    height: 180px;
    border-style: solid;
    border-width: 2px;
    border-color: blue;
}